<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimationSpeed</key>
	<real>15</real>
	<key>ColorPresets</key>
	<dict>
		<key>Colors</key>
		<array>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>brightness</key>
				<real>0.0</real>
				<key>hue</key>
				<real>0.0</real>
				<key>saturation</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>brightness</key>
				<real>1</real>
				<key>hue</key>
				<real>0.0</real>
				<key>saturation</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>brightness</key>
				<real>1</real>
				<key>hue</key>
				<real>0.26732024550437927</real>
				<key>saturation</key>
				<real>1</real>
			</dict>
		</array>
		<key>Name</key>
		<string>1biiit+</string>
		<key>SelectedColorIndex</key>
		<integer>0</integer>
		<key>UniqueIdentifier</key>
		<string>01D9E03D-251B-40B3-9059-ECE60587833A</string>
	</dict>
	<key>EraserBrushSize</key>
	<real>1</real>
	<key>GridSettings</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>brightness</key>
			<real>1</real>
			<key>hue</key>
			<real>0.50130718946456909</real>
			<key>saturation</key>
			<real>1</real>
		</dict>
		<key>ShowGrid</key>
		<false/>
		<key>Size</key>
		<dict>
			<key>Height</key>
			<real>16</real>
			<key>Width</key>
			<real>16</real>
		</dict>
	</dict>
	<key>Indexed</key>
	<false/>
	<key>OnionSkinOptions</key>
	<dict>
		<key>AboveCurrentLayer</key>
		<false/>
		<key>ColorShiftEnabled</key>
		<false/>
		<key>Opacity</key>
		<real>0.5</real>
		<key>ShowNextFrame</key>
		<true/>
		<key>ShowPreviousFrame</key>
		<true/>
	</dict>
	<key>PaintBrushSize</key>
	<real>1</real>
	<key>SelectedHSBColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>brightness</key>
		<real>0.0</real>
		<key>hue</key>
		<real>1</real>
		<key>saturation</key>
		<real>1</real>
	</dict>
	<key>SelectedSymbolIndex</key>
	<integer>0</integer>
	<key>Size</key>
	<dict>
		<key>Height</key>
		<real>296</real>
		<key>Width</key>
		<real>256</real>
	</dict>
	<key>Symbols</key>
	<array>
		<dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>Duration</key>
					<integer>1</integer>
					<key>Layers</key>
					<array>
						<dict>
							<key>Alpha</key>
							<real>1</real>
							<key>ImageFilename</key>
							<string>Layer374E7596-41F3-4745-83B0-9D35D12267A7.png</string>
							<key>Reference</key>
							<false/>
							<key>Size</key>
							<dict>
								<key>Height</key>
								<real>296</real>
								<key>Width</key>
								<real>256</real>
							</dict>
							<key>Visible</key>
							<true/>
						</dict>
					</array>
					<key>SelectedLayerIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Name</key>
			<string>Foreground</string>
			<key>SelectedFrameIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Version</key>
	<real>2</real>
</dict>
</plist>
